<!-- Button trigger modal -->
<button type="button" id="add_task"  class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter">
Add Task
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">


        <%= form_for(@projectuser, url: create_project_user_task_path, html: { method: :post, class: 'task_form'} ) do |f| %>

<div class="field form-group">
  <%= f.label :user_id %><br />
          <select class="myselect form-control" name="project_user[user_id]" style="width:500px;">
            <% @users.each do |user| %>
              <option value="<%= user.id %>"><%= user.email %></option>
            <% end %>
          </select>
        </div>

          <%= hidden_field_tag 'project', @project.id %>

          <%= f.fields_for @task do |ff| %>

          <p id="task_error"></p>

            <div class="field form-group">
              <%= ff.label :name %><br />
              <%= ff.text_field :name, autofocus: true,class:"form-control" %>
            </div>

            <div class="field form-group">
              <%= ff.label :status %><br />
              <%= ff.select :status, options_for_select(['Not_Started','In_Progress','Done']), autofocus: true,class:"form-control" %>
            </div>


            <div class="field form-group">
              <%= ff.label :start_date %><br />
              <%= ff.text_field :start_date, 'data-provide':'datepicker',class:"form-control"  %>
            </div>

            <div class="field form-group">
              <%= ff.label :end_date %><br />
              <%= ff.text_field :end_date, 'data-provide':'datepicker',class:"form-control"  %>
            </div>

          <% end %>

          <div class="actions">
            <button type="button" name="task_update" class="btn btn-primary" id="task_update" style="display:none;">Update</button>
            <%= f.submit 'Submit', class:"btn btn-primary", id:"task_submit", data: { disable_with: false } %>
          </div>


        <% end %>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_modal">Close</button>
      </div>
    </div>
  </div>
</div>








<script type="text/javascript">
      $(".myselect").select2();
      $(document).ready(function(){
        $('.datepicker').datepicker();

        $('#task_update').click(function(event){
          var serializedData = $('#new_project_user').serializeArray();
          event.preventDefault();
          $.ajax({
            type: "PATCH",
            url: '/tasks/'+this.name,
            data: serializedData,
            success: function(response)
            {
               $('#close_modal').click();
              task = response.task
              project_user = response.project_user

            $('#row'+task.id+' td' )[0].innerHTML = task.name
            $('#row'+task.id+' td' )[1].innerHTML = project_user.user.email
            $('#row'+task.id+' td' )[2].innerHTML = project_user.assigner.email
            $('#row'+task.id+' td' )[3].innerHTML = project_user.designation
            $('#row'+task.id+' td' )[4].innerHTML = task.status
            $('#row'+task.id+' td' )[5].innerHTML = task.start_date
            $('#row'+task.id+' td' )[6].innerHTML = task.end_date

            }
          });

        });


        $("#new_project_user").submit(function(event) {
          var serializedData = $("#new_project_user").serializeArray();
          event.preventDefault();
          $.ajax({
                 type: "POST",
                 url: '/create_project_user_task',
                 data: serializedData, // serializes the form's elements. {'test': test}
                 success: function(response)
                 {

                   var obj = JSON.parse(response);

                   if(obj["status"]==200)
                   {

                       $('#close_modal').click();
                       $("#new_project_user")[0].reset();

                        var table = $('table')[0]
                        var row = table.insertRow($('tr').length);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        var cell5 = row.insertCell(4);
                        var cell6 = row.insertCell(5);
                        var cell7 = row.insertCell(6);
                        var cell8 = row.insertCell(7);

                        cell1.innerHTML = $('tr').length-1;
                        cell2.innerHTML = obj['task']['name'];
                        cell3.innerHTML = obj["project_user"]["user"]["email"];
                        cell4.innerHTML = obj["project_user"]["assigner"]["email"];
                        cell5.innerHTML = obj["project_user"]["designation"];
                        cell6.innerHTML = obj['task']['status'];
                        cell7.innerHTML = obj['task']['start_date'];
                        cell8.innerHTML = obj['task']['end_date'];
                    }
                    else if (obj["status"]==400) {
                      $('#task_error').html(obj['error']);
                    }

                 }
          });
        });


      });


</script>
