<p><%= @project.name %></p>
<% @tasks.each_with_index do |task, index| %>
    <tr>
    <th scope="row"><%= index+1 %></th>
    <td><%= task.name %></td>
    <td><%= task.project_user.user.email %></td>
    <td><%= task.project_user.assigner.email %></td>
    <td><%= task.project_user.designation %></td>
    <td><%= task.status %></td>
    <td><%= task.start_date %></td>
    <td><%= task.end_date%></td>
  </tr>
<% end %>
